* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    position: relative;
}

/* .burger1,.burger2,.burger3 {
    cursor: pointer;
} */


.icon {
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: rgb(187, 205, 228);
    width: 80px;
    height: 15px;
    border-radius: 15px;
    /* display: inline-block; */
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}

.icon:after {
    content: '';
    position: absolute;
    top: 25px;
    left: 0px;
    background-color: rgb(187, 205, 228);
    width: 80px;
    height: 15px;
    border-radius: 15px;
    transition-duration: .5s;
}

.icon:before {
    content: '';
    position: absolute;
    top: -25px;
    left: 0px;
    background-color: rgb(187, 205, 228);
    width: 80px;
    height: 15px;
    border-radius: 15px;
    transition-duration: .5s;
}

.menu {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 50px 80px;
    cursor: pointer;
    transition-duration: 1s;
}

/* transitions */
/* burger1 */
.burger1-rotate {
    transform: rotateZ(450deg);
}

/* burger2 */
.burger2.icon{
      /* transition-duration: 10s; */
      transition-delay: .2s;
}
.burger2 .icon:after{
    transition: transform 0.5s, top 0.5s 0.5s;
}

.burger2 .icon:before{
    transition: transform 0.5s, top 0.5s 0.5s;
}
  
.burger2.open .icon{
    transition-duration: 0.1s;
    transition-delay: 0.2s;
    background: transparent;
}
  
.burger2.open .icon:before{
    transition: top 0.5s, transform 0.5s 0.5s;
    top: 0px;
    transform: rotateZ(-45deg);
}
  
.burger2.open .icon:after{
    transition: top 0.4s, transform 0.5s 0.5s;
    top: 0px;
    transform: rotateZ(45deg);
}


/* burger3 */
